force-app/main/default/flows/NewTradingRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ConvertToUsd</name>
        <label>Convert To USD</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>CurrencyConverterAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ShowAmountInUsd</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>euroAmounts</name>
            <value>
                <elementReference>AmountInEuro</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AmountInUsd</assignToReference>
            <name>amount</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>SetAmounts</name>
        <label>Set Amounts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>AmountInEuro</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EuroAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConvertToUsd</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>New Trading Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Trading Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>EnterAmount</name>
        <label>Enter Amount</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetAmounts</targetReference>
        </connector>
        <fields>
            <name>EuroAmount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>AmountInEuro</elementReference>
            </defaultValue>
            <fieldText>€ Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowAmountInUsd</name>
        <label>Show Amount in USD</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShowAmounts</targetReference>
        </connector>
        <fields>
            <name>UsdAmount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>AmountInUsd</elementReference>
            </defaultValue>
            <fieldText>$ Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowAmounts</name>
        <label>Show Amounts</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ThankYouScreen</targetReference>
        </connector>
        <fields>
            <name>ShowBothAmounts</name>
            <extensionName>c:showAmounts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amountInEuro</name>
                <value>
                    <elementReference>AmountInEuro</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountInUsd</name>
                <value>
                    <elementReference>AmountInUsd</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AmountInEuro</assignToReference>
                <name>amountInEuro</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AmountInUsd</assignToReference>
                <name>amountInUsd</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThankYouScreen</name>
        <label>ThankYouScreen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Thank you so much!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Any questions?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EnterAmount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AmountInEuro</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AmountInUsd</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
